In [1]:
import pandas as pd
import numpy as np
from sklearn import tree

In [20]:
df = pd.read_csv("DecisionTreesClassificationDataSet.csv")
df

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?,IseAlindi
0,11,Y,4,BS,N,N,Y
1,0,N,0,PhD,Y,Y,Y
2,5,Y,2,MS,N,Y,Y
3,3,N,1,BS,N,Y,Y
4,0,N,0,BS,N,N,N
5,14,Y,7,BS,N,N,Y
6,1,N,0,BS,N,N,N
7,1,N,1,PhD,Y,N,N
8,4,Y,1,BS,N,Y,Y
9,0,N,0,PhD,Y,N,Y
10,0,N,0,BS,Y,Y,Y
11,2,N,0,BS,Y,Y,Y
12,8,N,6,BS,N,N,N
13,3,Y,1,MS,Y,N,Y
14,19,N,2,PhD,Y,N,N
15,1,N,0,BS,N,N,N

In [21]:
#decision tree'lerin düzgün çalışması için herşeyin rakamlsal olmasını bekliyor 
#bu nedenle veri setimizdeki tüm Y ve N değerlerini 0 ve 1 olarak düzeltiyoruz
duzeltme_mapping = {"Y":1, "N":0}

df["IseAlindi"] = df["IseAlindi"].map(duzeltme_mapping)
df["SuanCalisiyor?"] = df["SuanCalisiyor?"].map(duzeltme_mapping)
df["Top10 Universite?"] = df["Top10 Universite?"].map(duzeltme_mapping)
df["StajBizdeYaptimi?"] = df["StajBizdeYaptimi?"].map(duzeltme_mapping)

duzeltme_mapping_egitim = {"BS": 0, "MS": 1, "PhD": 2}
df['Egitim Seviyesi'] = df["Egitim Seviyesi"].map(duzeltme_mapping_egitim)
df.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?,IseAlindi
0,11,1,4,0,0,0,1
1,0,0,0,2,1,1,1
2,5,1,2,1,0,1,1
3,3,0,1,0,0,1,1
4,0,0,0,0,0,0,0

In [26]:
y = df.IseAlindi
x = df.drop(["IseAlindi"],axis=1)

In [27]:
x.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?
0,11,1,4,0,0,0
1,0,0,0,2,1,1
2,5,1,2,1,0,1
3,3,0,1,0,0,1
4,0,0,0,0,0,0

In [28]:
# Decision Tree'mizi oluşturuyoruz
clf = tree.DecisionTreeClassifier()
clf = clf.fit(x,y)

In [30]:
print(clf.predict([[5,1,3,0,0,0]]))

[1]

/Users/furkangulenc/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [31]:
print(clf.predict([[2,0,7,0,1,0]]))

[0]

/Users/furkangulenc/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [39]:
print(clf.predict([[20,0,0,1,1,1]]))

[1]

/Users/furkangulenc/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(